include README.rst
include LICENSE
include MANIFEST.in
include tests/test_pqdict.py
recursive-include examples *
recursive-include docs *
global-exclude *.DS_Store
prune doc/_build
prune doc/_static
prune doc/_templates